<p-container *ngIf="!datas?.length">
    <div class="no-data">
        <span>No data to display</span>
    </div>
</p-container>

<ng-contaner *ngIf="datas?.length">
    <p-table #dt [columns]="cols" [value]="datas" responsiveLayout="scroll" [exportHeader]="'customExportHeader'"
        [resizableColumns]="true" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex" *ngIf="dt.processedData.length">
                <button *ngIf="datas" type="button" pButton pRipple icon="pi pi-file-excel" (click)="dt.exportCSV()"
                    class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button *ngIf="datas" type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf(dt)"
                    class="mr-2 p-button-warning" pTooltip="CSV" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Sr No</th>
                <ng-container *ngFor="let col of columns">
                    <th>
                        {{col.header}}
                        <i *ngIf="col.filter?.isFilter" class="pi pi-filter cursor-pointer" (click)="op.toggle($event)"></i>
                        <p-overlayPanel #op>
                            <ng-template pTemplate>
                                <input *ngIf="col.filter?.isFilter && col.filter.type === 'text'" pInputText type="text"
                                    (input)="dt.filter($any($event.target).value, col.field, col.filter.matchMode)" />
                            </ng-template>

                            <p-calendar *ngIf="col.filter?.isFilter && col.filter.type === 'date'"
                                [(ngModel)]="rangeDates" selectionMode="range" inputId="range" appendTo="body"
                                dateFormat="dd/mm/yy" (onSelect)="filterData(dt)" [showClear]="true"
                                (onClear)="clearFilter(dt)">
                            </p-calendar>
                        </p-overlayPanel>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
            <tr [pSelectableRow]="rowData">
                <td>{{ index + 1 }}</td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>

        <ng-container *ngIf="footer">
            <ng-template pTemplate="footer" let-columns>
                <tr>
                    <td></td>
                    <td *ngFor="let col of columns">
                        <ng-container *ngIf="col.isFooter">
                            {{ getTotal(col.field, dt) }}
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </ng-container>
    </p-table>
</ng-contaner>