<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-tabView (onChange)="handleTabChange($event)">
                <p-tabPanel header="Trains">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Deleted">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
            </p-tabView>
        </div>

        <p-dialog [(visible)]="trainDialog" [style]="{ width: '680px' }" header="Train Details" [modal]="true"
            class="p-fluid" [maximizable]="true" [closable]="false">
            <ng-template pTemplate="content">
                <form [formGroup]="form">
                    <div class="field">
                        <label for="price" class="required-field">Train Number</label>
                        <input type="text" pInputText id="name" formControlName="trainNumber" autofocus />
                        <small class="error" *ngIf="errors && errors['trainNumber']">
                            {{ errors['trainNumber'].arg }}
                        </small>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name" class="required-field">From Station</label>
                            <input type="text" class="upperCase" pInputText id="name" formControlName="fromStation"
                                autofocus />
                            <small class="error" *ngIf="errors && errors['fromStation']">
                                {{ errors['fromStation'].arg }}
                            </small>
                        </div>
                        <div class="field col">
                            <label for="quantity" class="required-field">To Station</label>
                            <input type="text" class="upperCase" pInputText id="name" formControlName="toStation"
                                autofocus />
                            <small class="error" *ngIf="errors && errors['toStation']">
                                {{ errors['toStation'].arg }}
                            </small>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="saveTrain()"
                    [disabled]="!form.valid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTrainDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="train">Are you sure you want to delete <b>{{ train.trainNumber }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTrainDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteTrainsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected trains?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteTrainsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<ng-template #detailTemplate>
    <p-toolbar styleClass="mb-4" *ngIf="!isDeletedTab">
        <ng-template pTemplate="left"></ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="trains" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
        ]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0" *ngIf="!isDeletedTab">Manage Trains</h5>
                <h5 class="m-0" *ngIf="isDeletedTab">Restore Deleted Trains</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">
                    Train Number <p-sortIcon field="trainNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="price">
                    From Station
                    <p-sortIcon field="fromStation"></p-sortIcon>
                </th>
                <th pSortableColumn="name">
                    To Station <p-sortIcon field="toStation"></p-sortIcon>
                </th>
                <th style="width: 10px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-train>
            <tr>
                <td>
                    <span class="p-column-title">Train Number</span>
                    {{ train.trainNumber }}
                </td>
                <td>
                    <span class="p-column-title">From Station</span>
                    {{ train.fromStation }}
                </td>
                <td>
                    <span class="p-column-title">To Station</span>
                    {{ train.toStation }}
                </td>
                <td>
                    <app-table-menu [menus]="actionMenu" [data]="train" (selectMenu)="selectActionMenu($event)">
                    </app-table-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>