<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>
                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="New Payment" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openPaymentDialog()"></button>
                    </div>
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="payments" [columns]="cols" dataKey="companyName" responsiveLayout="scroll" [rows]="10"
                [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
                [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Payments</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Client Name
                        </th>
                        <th pSortableColumn="paidAmount">
                            Paid Amount
                            <p-sortIcon field="paidAmount"></p-sortIcon>
                        </th>
                        <th pSortableColumn="balanceAmount">
                            Balance Amount
                            <p-sortIcon field="balanceAmount"></p-sortIcon>
                        </th>
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-payment>
                    <tr>
                        <td style="width: 25%; min-width: 10rem">
                            <span class="p-column-title">Client Name</span>
                            {{ payment?.client?.companyName }}
                        </td>
                        <td style="width: 25%; min-width: 8rem">
                            <span class="p-column-title">Paid Amount</span>
                            {{ payment?.paidAmount }}
                        </td>
                        <td style="width: 25%; min-width: 8rem">
                            <span class="p-column-title">Balance Amount</span>
                            {{ payment?.balanceAmount }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- dialog -->
        <p-dialog [(visible)]="paymentDialog" [style]="{ width: '680px' }" header="Client Payment Detail" [modal]="true"
            class="p-fluid" [maximizable]="true" [closable]="false">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="price" class="required-field">Date</label>
                    <p-calendar [defaultDate]="paymentDate" dateFormat="yy-mm-dd" inputId="icon"
                        [(ngModel)]="paymentDate" [ngModelOptions]="{ standalone: true }" appendTo="body"></p-calendar>
                </div>
                <div class="field">
                    <p-autoComplete [(ngModel)]="selectedClient" (onSelect)="onSelectClient($event)"
                        [suggestions]="filteredClient" (completeMethod)="filterClient($event)" field="companyName"
                        [showEmptyMessage]="true">
                    </p-autoComplete>

                </div>
                <div *ngIf="selectedClient?.companyName">
                    <div class="client-detail">
                        <div class="client-name">
                            <label>Client Name: {{ selectedClient?.companyName }}</label>
                        </div>
                        <div class="outstanding-amount">
                            <label>Outstanding Amount: {{ selectedClient?.payment?.balanceAmount }} /- </label>
                        </div>
                    </div>
                    <div class="field">
                        <label for="amountToPay" class="required-field">Enter amount to pay</label>
                        <input pInputText type="number" [(ngModel)]="amountToPay" min="1">
                        <small class="error" *ngIf="amountToPay < 1 && amountToPay !== ''">Enter valid amount to
                            pay</small>
                        <small class="error" *ngIf="amountToPay > selectedClient?.payment?.balanceAmount">
                            Amount should be less than or equal to {{ selectedClient?.payment?.balanceAmount }}
                        </small>
                    </div>
                    <div class="field">
                        <label for="price">Remark</label>
                        <input type="text" pInputText id="remark" [(ngModel)]="remark" autofocus />
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="savePayment()"
                    [disabled]="!(amountToPay >= 1 && amountToPay <= selectedClient?.payment?.balanceAmount)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>