<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-tabView (onChange)="handleTabChange($event)">
                <p-tabPanel header="Payment">
                    <app-ledger-table [cols]="cols" [datas]="paymentData" [footer]="true"></app-ledger-table>
                </p-tabPanel>
                <p-tabPanel header="Expense">
                    <app-ledger-table [cols]="cols" [datas]="expenseData" [footer]="true"></app-ledger-table>
                </p-tabPanel>
                <p-tabPanel header="Opening Closing">
                    <app-ledger-table [cols]="cols" [datas]="oCData"></app-ledger-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>