#printSection {
    display: none;
    .items-table {
        text-align: center;
        margin-top: 20px;
    }
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        // padding: 7px;
    }
    
    th, td {
        width:auto;
        min-width: 138px;
    }

    table {
        width: 100%;
    }

    
    .overme {
        width: 125px;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        color: black;
    }

    .detail-table {
        text-align: left;
        .heading {
            display: flex;
            flex-direction: column;
            h3 {
                align-self: center;
            }
            span {
                align-self: center;
            }
        }
        .company-name {
            width: 100%;
            text-align: center;
            h2 {
                font-weight: 800;
                font-family: ui-monospace;
            }
        }

    }

    .rowSpace {
        margin-top: 15px;
    }
}

