<p-toast></p-toast>
<p-progressBar *ngIf="loadPrintData" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>

<p-table #dt [value]="tableData" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
            'invoiceNumber',
            'vphNumber'
        ]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
    [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Manage Invoices</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                    class="w-full sm:w-auto" />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="invoiceNumber">
                Invoice Number <p-sortIcon field="invoiceNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="vphNumber">
                VPH Numbers <p-sortIcon field="vphNumber"></p-sortIcon>
            </th>

            <th pSortableColumn="totalAmount">
                Total Amount
                <p-sortIcon field="totalAmount"></p-sortIcon>
            </th>
            <th style="width: 10px"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
        <tr>
            <td>
                <span class="p-column-title">Invoice Number</span>
                {{ invoice.invoiceNumber }}
            </td>
            <td>
                <span class="p-column-title">VPH Numbers</span>
                {{ getAllVPHNumbers(invoice?.invoiceItems) }}
            </td>
            <td>
                <span class="p-column-title">Amount</span>
                {{ (invoice.totalAmount).toFixed(2) }}
            </td>
            <td>
                <app-table-menu [menus]="actionMenu" [data]="invoice" (selectMenu)="selectActionMenu($event)">
                </app-table-menu>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="invoiceDialog" [style]="{ width: '950px' }" header="Invoice Details" [modal]="true"
    class="p-fluid" [maximizable]="true" [closable]="false">
    <ng-template pTemplate="content">
        <app-order-invoice [invoiceData]="invoiceData" [actionType]="'edit'" (closeDialogEvent)="hideInvoiceDialog()">
        </app-order-invoice>
    </ng-template>
</p-dialog>


<section id="printSection" #printTemplate>
    <div class="detail-table">
        <table>
            <tbody>
                <tr class="center">
                    <td colspan="2">
                        <div class="company-name">
                            <h2>SST CORPORATION</h2>
                        </div>
                    </td>
                    <td colspan="3">
                        <div class="heading">
                            <h3 id="tax-invoice">TAX INVOICE</h3>
                            <span id="act">Read with Section 31 of Central Goods and Services Tax Act 2017</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Bill No</td>
                    <td>{{selectedInvoice?.invoiceNumber}}</td>
                    <td>Customer GST</td>
                    <td colspan="2">{{ selectedInvoice?.customerGst || '' }}</td>
                </tr>
                <tr>
                    <td>Bill Date</td>
                    <td>{{ todayDate | date }}</td>
                    <td>Customer Name</td>
                    <td colspan="2" class="uppercase">{{ selectedInvoice?.customerName }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td colspan="4">{{ selectedInvoice?.address || '' }}</td>
                </tr>
                <tr>
                    <td>PAN</td>
                    <td colspan="2">ATYPY3704A</td>
                    <td>GSTIN</td>
                    <td colspan="2">ATYPY3704A</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="items-table">
        <table>
            <thead class="header" style="display: table-row-group;">
                <tr>
                    <th rowspan="1">VPH Number</th>
                    <th rowspan="2">CONSIGNOR</th>
                    <th rowspan="2">DESCRIPTION</th>
                    <th rowspan="1">FROM CITY</th>
                    <th rowspan="1">WEIGHT</th>
                    <th rowspan="3">TOTAL</th>
                </tr>
                <tr>
                    <th rowspan="1">Date</th>
                    <th rowspan="1">TO CITY</th>
                    <th rowspan="1">RATE (<span>&#8377;</span>)
                    </th>
                </tr>
            </thead>

            <tbody>
                <ng-container *ngFor="let data of selectedInvoice?.invoiceItems; let i=index">
                    <tr class="center">
                        <td rowspan="1">
                            {{ data?.vphNumber }}
                        </td>

                        <td rowspan="2" class="uppercase">
                            {{ data?.consignor }}
                        </td>

                        <td rowspan="2" class="uppercase overme">
                            {{ data?.description }}
                        </td>

                        <td rowspan="1" class="uppercase">
                            {{ data?.fromCity }}
                        </td>

                        <td rowspan="1" class="uppercase">{{ data?.weight }} {{ data?.weightType }}</td>

                        <td rowspan="2"> {{ data?.amount }} </td>

                    </tr>

                    <tr class="center">
                        <td rowspan="1"> {{ data.courierDate | date }}</td>
                        <td rowspan="1" class="uppercase"> {{ data?.toCity }} </td>
                        <td rowspan="1">{{ data?.rate }}</td>
                    </tr>
                </ng-container>
            </tbody>

            <tfoot>
                <tr>
                    <td class="center" colspan="2" style="font-weight:700">TERMS AND CONDITIONS</td>
                    <td class="center" colspan="2" style="font-weight:700">Bank Account Details</td>
                    <td colspan="1">SUB TOTAL AMOUNT</td>
                    <td colspan="1" class="center">{{selectedInvoice?.totalAmount - (selectedInvoice?.cgst +
                        selectedInvoice?.sgst + selectedInvoice?.igst)}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="border-bottom:none;">
                        <p>1. All Payments to be made through payee cheque/DD or online transfer in favour of SST CORPORATION.
                        </p>
                    </td>
                    <td colspan="1" style="border-right:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>Account Name</span>
                    </td>
                    <td colspan="1" style="border-left:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>SST CORPORATION</span>
                    </td>
                    <td colspan="1">SGST ({{selectedInvoice?.sgstPercentage}}%)</td>
                    <td colspan="1" class="center">{{selectedInvoice?.sgst}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="border-bottom:none; border-top:none;">
                        2. Interest @2% per month will be charged if the bill is not paid on the due date.
                    </td>
                    <td colspan="1" style="border-right:none; text-align:left; border-bottom:none; border-top:none;">
                        <span>Bank</span>
                    </td>
                    <td colspan="1" style="border-left:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>ICICI BANK</span>
                    </td>
                    <td colspan="1">CGST ({{selectedInvoice?.cgstPercentage}}%)</td>
                    <td colspan="1" class="center">{{selectedInvoice?.cgst}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="border-bottom:none; border-top:none;">
                        3. Alll dispute and differences arising out of this bill will be subject to jurisdition of Bhopal Courts only.
                    </td>
                    <td colspan="1" style="border-right:none; text-align:left; border-bottom:none; border-top:none;">
                        <span>Branch</span>
                    </td>
                    <td colspan="1" style="border-left:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>Wadala</span>
                    </td>
                    <td colspan="1">IGST ({{selectedInvoice?.igstPercentage}}%)</td>
                    <td colspan="1" class="center">{{selectedInvoice?.igst}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="border-bottom:none; border-top:none;"></td>
                    <td colspan="1" style="border-right:none; text-align:left; border-bottom:none; border-top:none;">
                        <span>Account No</span>
                    </td>
                    <td colspan="1" style="border-left:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>965874123659874</span>
                    </td>
                    <td colspan="1">NET PAYABLE Rs.</td>
                    <td colspan="1" class="center">{{selectedInvoice?.totalAmount}}</td>
                </tr>

                <tr>
                    <td colspan="2" style="border-top:none;"></td>
                    <td colspan="1" style="border-right:none; text-align:left; border-bottom:none; border-top:none;">
                        <span>IFSC Code</span>
                    </td>
                    <td colspan="1" style="border-left:none; text-align:left;border-bottom:none; border-top:none;">
                        <span>965874123659874</span>
                    </td>
                    <td colspan="1">Amount in words</td>
                    <td colspan="1">{{convertToWord(selectedInvoice?.totalAmount)}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>