<div class="layout-wrapper">
    <div class="layout-main-container">
        <div class="layout-main mr-5">
            <p-card [style]="{'margin-bottom': '2em'}">
                <div class="header">
                    <h3>{{ agentName }}</h3>
                        <p-button label="Print" icon="pi pi-print" styleClass="p-button-sm p-button-secondary" (click)="print()"></p-button>

                </div>
            </p-card>
            <p-card [style]="{'margin-bottom': '2em'}">
                <app-table [cols]="cols" [datas]="orders" [title]="title" (tableData)="orderPrint($event)"></app-table>
            </p-card> 
        </div>
    </div>
    <div class="layout-mask"></div>
</div>