<div class="grid">
    <div class="col-xm-12 col-sm-6 col-md-3 p-3" *ngFor="let item of items">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{ item?.title }}</span>
                    <div class="text-900 font-medium text-xl">{{ item?.value }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi {{item.icon}} text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="card mb-0 chart">
            <p-chart type="doughnut" [data]="data"></p-chart>
        </div>
    </div>

    <!-- <div class="col-sm-8">
        <div class="card mb-0">
            <p-chart type="line" [data]="lineChartData" [options]="basicOptions"></p-chart>
        </div>
    </div> -->
</div>

<style>
    .chart {
        height: 100%;
    }
</style>