<p-table id="table" #dt [value]="datas" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ title }}</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">{{ col.header }}
                <i *ngIf="col.filter?.isFilter" class="pi pi-filter cursor-pointer" (click)="op.toggle($event)"></i>
                <p-overlayPanel #op>
                    <p-calendar *ngIf="col.filter?.isFilter"
                        [(ngModel)]="rangeDates" selectionMode="range" inputId="range" appendTo="body"
                        dateFormat="dd/mm/yy" (onSelect)="filterData(dt)" [showClear]="true"
                        (onClear)="clearFilter(dt)">
                    </p-calendar>
                </p-overlayPanel>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td *ngFor="let col of cols">{{ data[col.field] }}
    
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="10">No record found.</td>
        </tr>
    </ng-template>
</p-table>