<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-tabView (onChange)="handleTabChange($event)">
                <p-tabPanel header="Client">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Deleted">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
            </p-tabView>
        </div>

        <p-dialog [(visible)]="clientDialog" [style]="{ width: '680px' }" header="Client Details" [modal]="true"
            class="p-fluid" [maximizable]="true" [closable]="false">
            <ng-template pTemplate="content">
                <form [formGroup]="form">

                    <div class="field">
                        <label for="price">Name</label>
                        <input type="text" pInputText id="agentName" formControlName="agentName" autofocus />
                        <small class="error" *ngIf="errors && errors['agentName']">{{
                            errors && errors['agentName'].arg}}</small>
                    </div>

                    <div class="field">
                        <label for="price" class="required-field">Company Name</label>
                        <input type="text" pInputText id="companyName" formControlName="companyName" autofocus />
                        <small class="error" *ngIf="errors && errors['companyName']">{{
                            errors && errors['companyName'].arg}}</small>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="email">Email</label>
                            <input type="text" pInputText id="email" formControlName="email" autofocus />
                            <small class="error" *ngIf="errors && errors['email']">{{
                                errors && errors['email'].arg}}</small>
                        </div>
                        <div class="field col">
                            <label for="contact">Contact</label>
                            <input type="text" pInputText id="contact" formControlName="contact" autofocus />
                            <small class="error" *ngIf="errors && errors['contact']">{{
                                errors['contact'].arg}}</small>
                        </div>
                    </div>
                    <div class="field">
                        <label for="address">Address</label>
                        <textarea id="address" pInputTextarea formControlName="address" rows="3" cols="20"></textarea>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="city">City</label>
                            <input type="text" pInputText id="city" formControlName="city" autofocus />
                        </div>
                        <div class="field col">
                            <label for="pincode">Pincode</label>
                            <input type="text" pInputText mode="decimal" inputId="pincode" formControlName="pincode" />
                            <small class="error" *ngIf="errors && errors['pincode']">
                                {{ errors['pincode'].arg }}
                            </small>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="state">State</label>
                            <input type="text" pInputText id="state" formControlName="state" autofocus />
                        </div>
                        <div class="field col">
                            <label for="gstNo">GST</label>
                            <input type="text" pInputText id="gstNo" formControlName="gstNo" autofocus />
                            <small class="error" *ngIf="errors && errors['gstNo']">
                                {{ errors['gstNo'].arg }}
                            </small>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="saveClient()"
                    [disabled]="!form.valid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="client">Are you sure you want to delete <b>{{ client.companyName }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteClientDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected clients?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteClientsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>


<ng-template #detailTemplate>
    <p-toolbar styleClass="mb-4" *ngIf="!isDeletedTab">
        <ng-template pTemplate="left"></ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="clients" [columns]="cols" responsiveLayout="scroll"
        [globalFilterFields]="[ 'companyName', 'email' ]" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedclients"
        selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0" *ngIf="!isDeletedTab">Manage Clients</h5>
                <h5 class="m-0" *ngIf="isDeletedTab">Restore Clients</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols" pSortableColumn="{{col.field}}">
                    {{ col.header }}<p-sortIcon *ngIf="col.sorting" field="{{col.field}}"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <ng-container *ngFor="let col of cols">
                    <td style="width: auto;" *ngIf="col.field !== 'action'">
                        <span class="p-column-title">{{ col.header }}</span>
                        {{ client[col.field] }}
                    </td>
                    <td style="width: auto;" *ngIf="col.field === 'action'">
                        <app-table-menu [menus]="actionMenu" [data]="client" (selectMenu)="selectActionMenu($event)">
                        </app-table-menu>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</ng-template>