<ng-container>
    <div class="field">
        <label for="invoiceNumber" class="required-field">Invoice Number</label>
        <input type="text" pInputText id="state" class="uppercase" [(ngModel)]="invoiceNumber" autofocus disabled />
    </div>
    <table>
        <thead>
            <tr>
                <th rowspan="1">VPH Number</th>
                <th rowspan="2">CONSIGNOR</th>
                <th rowspan="2">DESCRIPTION</th>
                <th rowspan="1">FROM CITY</th>
                <th rowspan="1">WEIGHT</th>
                <th rowspan="2">TOTAL</th>
                <th rowspan="2"></th>
            </tr>
            <tr>
                <th rowspan="1">Date</th>
                <th rowspan="1">TO CITY</th>
                <th rowspan="1">RATE (<span>&#8377;</span>)
                </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let data of invoiceData">
                <tr>
                    <td rowspan="1">
                        {{ data?.vphNumber }}
                    </td>

                    <td rowspan="2" class="uppercase">
                        {{ data?.consignor }}
                    </td>

                    <td rowspan="2" class="uppercase">
                        {{ data?.description }}
                    </td>

                    <td rowspan="1" class="uppercase">
                        {{ data?.fromCity }}
                    </td>

                    <td rowspan="1" class="uppercase">{{ data?.weight }} {{ data?.weightType }}</td>

                    <td rowspan="2"> {{ data?.amount }} </td>

                    <td rowspan="2">
                        <button [disabled]="invoiceData.length === 1" pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-button-text"
                            (click)="romoveData(data?.vphNumber)"></button>
                    </td>
                </tr>

                <tr>
                    <td rowspan="1"> {{ data.courierDate | date }}</td>
                    <td rowspan="1" class="uppercase"> {{ data?.toCity }} </td>
                    <td rowspan="1">{{ data?.rate }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <div class="grid" *ngIf="isGstPresent">
        <div class="col-7"></div>
        <div class="gstDetails col-3">
            <div>
                <input type="text" class="p-inputtext-sm" placeholder="SGST %" pInputText
                    [(ngModel)]="sgstPercentage" />
                <span class="bold-text">{{
                    (sgstPercentage / 100 * preGstTotalAmount).toFixed(2) }}
                </span>
            </div>
            <div>
                <input type="text" class="p-inputtext-sm" placeholder="CGST %" pInputText
                    [(ngModel)]="cgstPercentage" />
                <span class="bold-text">
                    {{ (cgstPercentage / 100 * preGstTotalAmount).toFixed(2) }}
                </span>
            </div>
            <div>
                <input type="text" class="p-inputtext-sm" placeholder="IGST %" pInputText
                    [(ngModel)]="igstPercentage" />
                <span class="bold-text">{{ (igstPercentage / 100 * preGstTotalAmount).toFixed(2) }}
                </span>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="grid">
        <div class="col-8"></div>
        <div class="col-2 bold-text totalAmount"> <span>
                {{ ((sgstPercentage / 100 * preGstTotalAmount) + ( cgstPercentage / 100 *
                preGstTotalAmount)
                +
                (igstPercentage / 100 * preGstTotalAmount) + preGstTotalAmount).toFixed(2)}} /-
            </span>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="mt-5 footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
            (click)="closeDialog()"></button>
        <button *ngIf="actionType==='create'" [disabled]="!(invoiceNumber && invoiceData.length)" pButton pRipple
            label="Generate" icon="pi pi-cog" class="p-button-primary" (click)="save()"></button>

        <button *ngIf="actionType==='edit'" [disabled]="!(invoiceNumber && invoiceData.length)" pButton pRipple
            label="Save" icon="pi pi-check" class="p-button-primary" (click)="save()"></button>
    </div>
</ng-container>