table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
  }

  th, td {
    width:auto;
    min-width:130px;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  button {
    width: auto !important;
  }
}

.gstDetails {
  div {
    display: flex;
    gap: 35px;
    span {
      align-self: center;
    }
  }
  input {
    margin: 5px;
    width: 100px !important;
  }
}

.bold-text {
  font-weight: bold;
}

.totalAmount {
  margin-left: 55px;
}
