<p-toast></p-toast>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-sm-6"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/login/user.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <form [formGroup]="form">
                    <div class="w-full md:w-10 mx-auto">
                        <label for="username"
                            class="block text-900 text-xl font-medium mb-2 required-field">Username</label>
                        <input id="username" formControlName="email" type="text" placeholder="Username" pInputText
                            class="w-full mb-3" style="padding:1rem;">
                        <small class="error" *ngIf="emailError">
                            {{ emailError }}
                        </small>

                        <label for="password"
                            class="block text-900 font-medium text-xl mb-2 required-field">Password</label>
                        <input id="password" formControlName="password" type="password" placeholder="password"
                            pInputText class="w-full mb-3" style="padding:1rem;">
                        <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" [disabled]="!form.valid"
                            (click)="login()"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>