<div class="dropdown">
  <div class="menu-button" data-bs-toggle="dropdown"></div>
  <ul class="dropdown-menu">
    <li *ngFor="let menu of menus"><a class="dropdown-item cursor" (click)="onClick(menu)">{{ menu.label }}</a></li>
  </ul>
</div>