<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-tabView (onChange)="handleTabChange($event)">
                <p-tabPanel header="Orders">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Deleted">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
            </p-tabView>
        </div>

        <p-dialog [(visible)]="orderDialog" [style]="{ width: '680px' }" header="Order Details" [modal]="true"
            class="p-fluid" [maximizable]="true" [closable]="false">
            <ng-template pTemplate="content">
                <form [formGroup]="form">
                    <p-steps [model]="items" [readonly]="true" [activeIndex]="activeStepIndex"></p-steps>
                    <div class="mt-3">
                        <div [hidden]="activeStepIndex !== 0">
                            <div class="field">
                                <label for="price" class="required-field">Date</label>
                                <p-calendar [defaultDate]="courierDate" dateFormat="yy-mm-dd" inputId="icon"
                                    [(ngModel)]="courierDate" [ngModelOptions]="{ standalone: true }" appendTo="body">
                                </p-calendar>
                            </div>
                            <div class="field">
                                <label for="price" class="required-field">VPH No</label>
                                <input type="text" pInputText id="vphNumber" formControlName="vphNumber" autofocus />
                                <small class="error" *ngIf="errors && errors['vphNumber']">
                                    {{ errors['vphNumber'].arg }}
                                </small>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="client" class="required-field">Client</label>
                                    <p-dropdown [options]="clients" placeholder="Select a Client"
                                        optionLabel="companyName" [showClear]="true" [filter]="true"
                                        [filterBy]="'companyName'" optionValue="id" [(ngModel)]="selectedClientId"
                                        [ngModelOptions]="{ standalone: true }">
                                    </p-dropdown>
                                </div>
                                <div class="field col">
                                    <label for="vehcle" class="required-field">Train Number</label>
                                    <p-dropdown [options]="vehicles" placeholder="Select a Train"
                                        optionLabel="trainNumber" [filter]="true" [showClear]="true"
                                        [filterBy]="'trainNumber'" optionValue="id" [(ngModel)]="selectedTrainId"
                                        [ngModelOptions]="{ standalone: true }">
                                    </p-dropdown>
                                </div>
                            </div>

                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="price" class="required-field">Packet Number</label>
                                    <input type="text" pInputText formControlName="packetNumber" />
                                    <small class="error" *ngIf="errors && errors['packetNumber']">
                                        {{ errors['packetNumber'].arg }}
                                    </small>

                                </div>
                                <div class="field col">
                                    <label for="courierType" class="required-field">Courier Type</label>
                                    <input type="text" pInputText formControlName="type" />
                                    <small class="error" *ngIf="errors && errors['type']">
                                        {{ errors['type'].arg }}
                                    </small>
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="price" class="required-field">Weight</label>
                                    <input type="text" pInputText formControlName="weight" min="0" />
                                    <small class="error" *ngIf="errors && errors['weight']">
                                        {{ errors['weight'].arg }}
                                    </small>
                                </div>
                                <div class="field col">
                                    <label for="price" class="required-field">Rate</label>
                                    <input type="number" formControlName="rate" pInputText min="0" />
                                    <small class="error" *ngIf="errors && errors['rate']">
                                        {{ errors['rate'].arg }}
                                    </small>
                                </div>

                            </div>
                            <div class="field">
                                <label for="description">Description</label>
                                <textarea formControlName="description" id="address" pInputTextarea rows="3"
                                    cols="20"></textarea>
                            </div>
                        </div>

                        <!-- payment part step 2 -->
                        <div [hidden]="activeStepIndex !== 1">
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="price">Total Amount</label>
                                    <p-inputNumber formControlName="totalAmount" mode="decimal">
                                    </p-inputNumber>
                                </div>
                                <div class="field col">
                                    <label for="price" class="required-field">Paid Amount</label>
                                    <p-inputNumber formControlName="paidAmount" mode="decimal">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="field col">
                                    <label for="price">Balance Amount</label>
                                    <p-inputNumber formControlName="balanceAmount" mode="decimal">
                                    </p-inputNumber>
                                </div>
                                <div class="field col">
                                    <label for="price" class="required-field">Payment Type</label>
                                    <input type="text" pInputText formControlName="paymentType" />
                                    <small class="error" *ngIf="errors && errors['paymentType']">
                                        {{ errors['paymentType'].arg }}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer" class="mt-5">
                <button pButton pRipple label="Prev" icon="pi pi-angle-left" class="p-button-warn" (click)="prevStep()"
                    *ngIf="activeStepIndex > 0"></button>
                <button pButton pRipple label="Next" icon="pi pi-angle-right" class="p-button-warn" (click)="nextStep()"
                    *ngIf="activeStepIndex < 1" [disabled]="!checkIsNextStep()"></button>

                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button *ngIf="activeStepIndex === 1" pButton pRipple label="Save" icon="pi pi-check"
                    class="p-button-primary" (click)="saveOrder()"
                    [disabled]="!form.valid && !checkIsNextStep() && !selectedPaymentType"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOrderDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="order">Are you sure you want to delete
                    <b>{{ order?.vphNumber }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteOrderDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteOrdersDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected orders?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteOrdersDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<ng-template #detailTemplate>
    <p-toolbar styleClass="mb-4" *ngIf="!isDeletedTab">
        <ng-template pTemplate="left"></ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="View Invoice" icon="pi pi-eye" class="p-button-secondary mr-2"
                    [routerLink]="'/dashboard/invoice'"></button>
            </div>
            <div class="my-2">
                <button [disabled]="!enablePrintButton" pButton pRipple label="Generate Invoice" icon="pi pi-print"
                    class="p-button-secondary mr-2" (click)="printInvoice()"></button>
            </div>
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            </div>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="orders" [columns]="cols" dataKey="vphNumber" [globalFilterFields]="[
    'clientName',
    'vphNumber'
]" [(selection)]="selectedClientForPrint" responsiveLayout="scroll" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0" *ngIf="!isDeletedTab">Manage Orders</h5>
                <h5 class="m-0" *ngIf="isDeletedTab">Manage Deleted Orders</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 10px;"></th>
                <th pSortableColumn="vphNumber">VPH Number <p-sortIcon field="vphNumber">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="clientName">Client Name <p-sortIcon field="clientName">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="trainNumber">Train Number <p-sortIcon field="trainNumber">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="packetNumber">Packet Number <p-sortIcon field="packetNumber">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="weight">Weight <p-sortIcon field="weight"></p-sortIcon>
                </th>
                <th pSortableColumn="rate">Rate <p-sortIcon field="rate"></p-sortIcon>
                </th>
                <th pSortableColumn="totalAmount">Total Amount <p-sortIcon field="totalAmount">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="paidAmount">Paid Amount <p-sortIcon field="paidAmount">
                    </p-sortIcon>
                </th>
                <th style="width: 10px;"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox *ngIf="!generateInvoiceIds.includes(order.vphNumber)" [value]="order"
                        (click)="selectPrintRow()"></p-tableCheckbox>
                </td>
                <td>{{ order?.vphNumber }}</td>
                <td>{{ order?.client?.companyName || "" }}</td>
                <td>{{ order?.train?.trainNumber }}</td>
                <td>{{ order?.packetNumber }}</td>
                <td>{{ order?.weight }}</td>
                <td>{{ order?.rate }}</td>
                <td>{{ order?.totalAmount }}</td>
                <td>{{ order?.paidAmount }}</td>
                <td>
                    <app-table-menu [menus]="actionMenu" [data]="order" (selectMenu)="selectActionMenu($event)">
                    </app-table-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10">No record found.</td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>


<p-dialog [(visible)]="invoiceDialog" [style]="{ width: '950px' }" header="Invoice Details" [modal]="true"
    class="p-fluid" [maximizable]="true" [closable]="false">
    <ng-template pTemplate="content">
        <app-order-invoice [invoiceData]="printData" [actionType]="'create'" (closeDialogEvent)="hideInvoiceDialog()">
        </app-order-invoice>
    </ng-template>
</p-dialog>