<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-tabView (onChange)="handleTabChange($event)">
                <p-tabPanel header="Expenses">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
                <p-tabPanel header="Deleted">
                    <ng-container *ngTemplateOutlet="detailTemplate"></ng-container>
                </p-tabPanel>
            </p-tabView>
        </div>

        <p-dialog [(visible)]="expenseDialog" [style]="{ width: '680px' }" header="Expense Details" [modal]="true"
            class="p-fluid" [maximizable]="true" [closable]="false">
            <ng-template pTemplate="content">
                <form [formGroup]="form">
                    <div class="field">
                        <label for="price" class="required-field">Date</label>
                        <p-calendar [defaultDate]="expenseDate" dateFormat="yy-mm-dd" inputId="icon"
                            [(ngModel)]="expenseDate" [ngModelOptions]="{ standalone: true }" appendTo="body">
                        </p-calendar>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="vehcle">Type</label>
                            <input type="text" pInputText formControlName="type">
                            <small class="error" *ngIf="errors && errors['type']">
                                {{ errors['type'].arg }}
                            </small>
                        </div>
                        <div class="field col">
                            <label for="price" class="required-field">Amount</label>
                            <input type="number" pInputText min="1" formControlName="amount" />
                            <small class="error" *ngIf="errors && errors['amount']">
                                {{ errors['amount'].arg }}
                            </small>
                        </div>

                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea formControlName="description" id="address" pInputTextarea rows="3"
                            cols="20"></textarea>
                    </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-primary" (click)="saveExpense()"
                    [disabled]="!form.valid && expenseDate"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExpenseDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="expense">Are you sure you want to delete the expense?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteExpenseDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteExpensesDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected expenses?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteExpensesDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

<ng-template #detailTemplate>
    <p-toolbar styleClass="mb-4" *ngIf="!isDeletedTab">
        <ng-template pTemplate="left"></ng-template>
        <ng-template pTemplate="right">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
            </div>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="expenses" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
            'type',
            'date',
            'description'
        ]" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" selectionMode="multiple"
        [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0" *ngIf="!isDeletedTab">Manage Expenses</h5>
                <h5 class="m-0" *ngIf="isDeletedTab">Restore Deleted Expenses</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                        class="w-full sm:w-auto" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="type">
                    Expense Type <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="date">
                    Date <p-sortIcon field="date"></p-sortIcon>
                </th>

                <th pSortableColumn="amount">
                    Amount
                    <p-sortIcon field="amount"></p-sortIcon>
                </th>
                <th pSortableColumn="price">
                    Description
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-expense>
            <tr>
                <td style="width: 25%; min-width: 10rem">
                    <span class="p-column-title">Expense Type</span>
                    {{ expense.type }}
                </td>
                <td style="width: 25%; min-width: 10rem">
                    <span class="p-column-title">Date</span>
                    {{ expense.date | date }}
                </td>
                <td style="width: 25%; min-width: 8rem">
                    <span class="p-column-title">Amount</span>
                    {{ expense.amount }}
                </td>
                <td style="width: 25%; min-width: 8rem">
                    <span class="p-column-title">Description</span>
                    {{ expense.description }}
                </td>
                <td>
                    <app-table-menu [menus]="actionMenu" [data]="expense" (selectMenu)="selectActionMenu($event)">
                    </app-table-menu>
                </td>
            </tr>
        </ng-template>
    </p-table>
</ng-template>