/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Code Highlight */
@import "../node_modules/prismjs/themes/prism-coy.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";

.required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }

.error {
    color: red
}

.p-datatable-header > div {
  flex-direction: row !important;
}

.layout-main-container {
  background-color: #EFF3F8;
}

.p-datatable-table {
  min-height: 190px !important;
}