.value {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.card-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
}