<div class="layout-wrapper">
    <div class="layout-main-container">
        <div class="layout-main mr-5">
            <p-card [style]="{'margin-bottom': '2em'}">
                <div class="header">
                    <h3>{{ clientName }}</h3>
                        <p-button label="Print" icon="pi pi-print" styleClass="p-button-sm p-button-secondary" (click)="print()"></p-button>

                </div>
            </p-card>
            <div class="card-details">
                <p-card *ngFor="let cardDetail of cardDetails" header="{{cardDetail.title}}"
                    [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                    <ng-template pTemplate="header">
                    </ng-template>
                    <span class="value">{{cardDetail.value}}</span>
                </p-card>
            </div>

            <p-card [style]="{'margin-bottom': '2em'}">
                <app-table [cols]="orderCols" [datas]="orders" [title]="orderTitle" (tableData)="orderPrint($event)"></app-table>
            </p-card>

            <p-card [style]="{'margin-bottom': '2em'}">
                <app-table [cols]="paymentCols" [datas]="payments" [title]="paymentTitle" (tableData)="paymentPrint($event)"></app-table>
            </p-card>
        </div>
    </div>
    <div class="layout-mask"></div>
</div>